@page
@model ASP_NET_HomeworkAndPractice7_Razor_Pages2.Pages.AboutModel
@{
	Layout = "_Layout";
}
<div class="custom-container" style="padding: 1%;">
	<h1>About Cinema</h1>
	<p>
		An evening at the theater is never just an evening at the theater.
	</p>
	<p>
		You embark on journeys through fantastical realms, dive into epic adventures, and traverse the sands of time. Discover uncharted territories and encounter characters who leap from the pages of your favorite stories. You might find yourself on the edge of your seat, heart racing, or lounging back in blissful comfort. Every moment is a chance to laugh, to weep, to be utterly captivated, or to feel a thrilling rush of fear.
	</p>
	<p>
		Here, your experience transcends the ordinary, offering you the finest visuals, enveloping soundscapes, and the plushest seating imaginable. With a diverse array of options, from reclining seats that cradle you in comfort to advanced audio that makes every whisper and roar come alive, your night out can be tailored to your every desire. There are even dedicated spaces for little ones to explore and enjoy their own magical stories—making every outing an unforgettable adventure, just the way you like it.
	</p>
</div>
